{% extends "base.html" %}

{% block page_content %}





<!-- Use any element to open the sidenav 
<span onclick="openNav()">open</span>-->

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->

<button type="button" onclick="openNav()"> Click me! </button>
<h1>Hello, World!</h1>

<p> This website is a personal project I am working on. </p>

<a href="{% url 'project_index' %}"
   class="btn btn-primary">
	Read More
</a>

</div>



{% endblock %}

