{% extends "base.html" %}
{% load static %}

{% block block_head %}
<title>Index of Projects</title>
<meta name="description" content="An index of the projects on my personal website.">
<meta name="author" content="Connor DeJohn">
{% endblock %}

{% block block_style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project_index.css' %}">
{% endblock %}



{% block block_body %}
    <div class="all-content">
        <div class="header-row">
            <h1>Projects</h1>
            <p>This page documents the projects I have worked on and the process of completing them.</p>
        </div>

        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-2">
                    {% comment %} <img class="card-img-top" src="{% static project.image %}"> {% endcomment %}
                    <div class="card-body">
                        <a class="card-title btn btn-primary" href="{% url 'project_detail' project.pk %}">
                            {{ project.title }}
                        </a>
                        <p class="card-text">{{ project.description|truncatechars:30 }}</p>
                        
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
